.seta-voltar {
  position: fixed;
  cursor: pointer;
  color: transparent;
}

.seta-voltar:hover {
  color: white;
  transition-delay: .2s;
}

.seta-voltar figure {
  display: flex;
  align-items: center;
  line-height: 17px;
  column-gap: 0.9vw
}

.seta-voltar p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.2vw;
}

.seta-voltar img {
  width: 5vw;
  min-width: 50px;
}

.seta-voltar img:hover {
  opacity: .7;
}



.title {
  display: flex;
  width: 100%;
  padding-left: 9vw;
}

.title-skill {
  border-bottom: 1px solid #753399;
}

.title-skill h3 {
  color: #753399;
  font-weight: bold;
  font-size: clamp(20px, 2vw, 2vw);
}

.title-skill h4 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(16px, 1.4vw, 1.4vw);
}

.sessao-projetos {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  padding-top: 12vh;
}

.cards-projetos {
  display: grid;
  grid-template-columns: 45vw 45vw;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

.card-fig {
  margin: 0;
  width: 100%;
  height: 100%;
}

.card-fig img {
  width: 100%;
  height: 100%;
  cursor:pointer;
  object-fit: cover;
  border-radius: 10px;
}
.card-fig img:hover{
  opacity: .7;
}
.modal-body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-body figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: -4px 5px 6px;
}
.body-project {
  padding: 2vw;
  text-align: center;
}
.body-project p{
  font-size: clamp(15px, 1vw, 1vw);
  font-family: 'Poppins', sans-serif;
}
.titulo-descricao{
  width: 100%;
  text-align:center;
}
.titulo-descricao h4 {
  color:white;
}

h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
  margin: 0;
  font-size: clamp(16px, 1.2vw, 1.2vw);
}

.codigo{
  border-top: 1px solid rgb(197 195 195);
  display: flex;
  justify-content: end;
  padding: 1vw;
}

.setaTop{
  display: none;
}