<div class="empresa">

  <figure>
    <img src="../../../../../assets/img/totvs2.gif" alt="TOTVS">
  </figure>

  <h4><i> Empresa: TOTVS - Trainee ( 10 / 2022 ) - ( 04 / 2023 ) </i></h4>

</div>

<div class="content-body-atividades">
  <h4>Atividades:<br></h4>
  <p>Treinamento intensivo de Softs Skills e Hard Skills<br>
    Prática no dia a dia no setor de Prestadores de serviços na TOTVS.
    Desenvolvendo um app em um squad do 0, sendo coordenado pelos padrinhos e madrinhas da TOTVS que estão nos apoiando
    e ensinando as regras de negócio a gestão do projeto, trabalho em equipe, estamos recebendo auxílio da agilista para
    desenvolvermos o projeto utilizando metodologia ágeis, seguindo um modelo de protótipo desenvolvido pela nossa UI.
  </p>
</div>
<div class="container-tech-usadas">
  <h4>Tecnologias usadas</h4>
  <figure class="tech-usadas">
    <img
      src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="Java">
    <img src="https://img.icons8.com/color/256/ionic.png" alt="Ionic">
    <img src="https://img.icons8.com/color/256/microsoft-sql-server.png" alt="SQL Serve">
    <img src="https://img.icons8.com/color/256/angularjs.png" alt="Angular">
    <img src="https://img.icons8.com/color/256/typescript.png" alt="TyprScript">
  </figure>
</div>