@media (max-width:795px){
  .container-carousel{
    width: 95%;
  }
}


@media (max-width:768px) {
  .container-pai-cards {
    height: 60vh;
  }

  .description-project {
    align-items: center;
  }

  .sect-imgs {
    max-width: 20vw;
  }
}

@media (max-width:550px) {
  .container-main-cards {
    flex-direction: column;
    align-items: center;
  }

  .sect-imgs {
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .card-content {
    height: 40vh;
    width: 85vw;
  }
}

@media (max-width:320px) {
  .description-project {
    row-gap: 5px;
  }

  .card-content {
    width: 94vw;
  }
}