<div class="content-slide-projec">
  <!-- <div class=" project">
    <h4>Projetos</h4>
    <a href="http://" routerLink="/habilidades">
      <h5>Ver +</h5>
    </a>
  </div>

  <div class="carousel-container">

    <div class="carousel">
      <div class="carousel-controls">
        <button (click)="prevImage()">&#8249;</button>
      </div>
      <img [src]="images[currentImageIndex].src" [alt]="images[currentImageIndex].alt">
      <div class="carousel-controls">
        <button (click)="nextImage()">&#8250;</button>
      </div>
    </div>

  </div> -->

  <carousel class="carousel" [noPause]="false">
    <slide style="width: 100%; height: 100%;" *ngFor="let img of images">
      <img class="imgs" [src]="img.src" [alt]="img.alt">
      <div class="carousel-caption d-none d-md-block pt-0 pb-0 legenda">
        <h5>Ver +</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
  </carousel>
</div>