<div class="links-img">
  <section>
    <figure>
      <img id="fiap-img"
        src="https://play-lh.googleusercontent.com/-uaIzKnZGDATRaOT_DqYKdzuJTWgeeOvQeZ0XNUASysOAJaGNqkKlyVPk_tiNAZqG2Q=w240-h480-rw"
        alt="FIAP">
    </figure>
    <div class="titulo-facul">
      <h4>Ensino superior<br>
        <h5>(Cursando)</h5>
      </h4>
    </div>
  </section>
  <section class="rede-sociais">
    <a href="https://www.linkedin.com/in/wevertonbarbosa00/" target="_blank">
      <img id="linkedin-img" src="https://cdn.icon-icons.com/icons2/805/PNG/512/linkedin_icon-icons.com_65929.png"
        alt="Linkedin">
    </a>
    <a href="https://github.com/Wevertonbarbosa" target="_blank">
      <img id="github-img"
        src="https://cdn.icon-icons.com/icons2/1826/PNG/512/4202098codedevelopergithublogo-115590_115711.png"
        alt="GitHub">
    </a>
  </section>
</div>