.content-menu {
  display: flex;
  justify-content: center;
  padding: 2vw;
  flex-direction: column;
  align-items: center;
  row-gap: 10vh;
}

.filterExp {
  background: #1c1c1c;
  width: 90%;
  border-radius: 18px;
}

.title {
  display: flex;
  width: 100%;
  padding-left: 9vw;
}

.title-skill h3 {
  color: #753399;
  font-weight: bold;
  font-size: clamp(20px, 2vw, 2vw);
}

.title-skill h4 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(16px, 1.4vw, 1.4vw);
}

.title-skill {
  border-bottom: 1px solid #753399;
}

.tabs-job {
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(17px, 1.4vw, 1.5vw);
}