<div id="top" class="setaMobile-habilidades">
  <h4>Habilidades e experiência</h4>
  <figure>
    <a href="/habilidades" routerLink="/habilidades">
      <img
        src="https://d9hhrg4mnvzow.cloudfront.net/serpolengenharia.com.br/lp-tratamento-concreto/6bc7a642-012d1a89-seta-2.gif"
        alt="seta mobile para ir para página de habilidades">
    </a>
  </figure>
</div>
<div class="content-main">

  <div class="coluna-1">
    <app-welcome></app-welcome>
  </div>
  <div class="coluna-2">
    <section class="paginaHabilidades">
      <div class="nome">
        <p>nome:</p>
        <h4>Weverton Lima</h4>
      </div>

      <div class="setaHabilidades">

        <p>Minhas habilidades</p>
        <figure>
          <a href="/habilidades" routerLink="/habilidades">
            <img
              src="https://d9hhrg4mnvzow.cloudfront.net/serpolengenharia.com.br/lp-tratamento-concreto/6bc7a642-012d1a89-seta-2.gif"
              alt="Seta para ir a página de habilidades">
          </a>
        </figure>
      </div>


    </section>
    <div class="content-2">
      <div class="foto">
        <figure>
          <img src="../../../../../assets/img/perfilMinhaFoto.jpg" alt="perfil">
        </figure>
      </div>
      <div class="projeto">
        <app-slide-project></app-slide-project>
      </div>
    </div>
  </div>
  <app-projetos></app-projetos>
  <div class="setaTop">
    <figure>
      <a href="#top">
        <img
          src="../../../../../assets/img/icon-seta-top.png"
          alt="Seta para ir pro inicio da página">
      </a>
    </figure>
  </div>
</div>