<div class="content-main">
  <div class="coluna-1">
    <app-welcome></app-welcome>
  </div>
  <div class="coluna-2">
    <div class="nome">
      <p>nome:</p>
      <h4>Weverton Lima</h4>
    </div>
    <div class="content-2">
      <div class="foto">
        <figure>
          <img src="../../../../../assets/img/perfilMinhaFoto.jpg" alt="perfil">
        </figure>
      </div>
      <div class="projeto">
        <app-slide-project></app-slide-project>
      </div>
    </div>
  </div>
  <app-projetos></app-projetos>
</div>
