@media (max-width:400px){
  .content-1{
    justify-content: center
  }

  .welcome{
    flex-wrap: nowrap;
  }
  .welcome section {
    flex: 1 0 100%;
  }
  .welcome figure img{
    display: none;
  }

}
@media (max-width:338px){
  .welcome section h1 {
    font-size:x-large;
  }
}
@media (max-width:320px){
  .welcome section h1 {
    font-size:x-large;
  }
}