<div class="container-tabSobre">
  <div class="content-tab">
    <tabset>
      <tab *ngFor="let content of details">
        <ng-template tabHeading>
          <h6>{{content.sobre}}</h6>
        </ng-template>
        <div class="conteudo">
          <h5>{{content.content.title}}</h5>
          <p>{{content.content.body}}</p>
        </div>
      </tab>
    </tabset>
  </div>

  <div class="content-pills">
    <tabset [vertical]="true" type="pills">
      <tab *ngFor="let content of details" [heading]="content.sobre">
        <div class="conteudo">
          <h5>{{content.content.title}}</h5>
          <p>{{content.content.body}}</p>
        </div>
      </tab>
    </tabset>
  </div>


  <div class="curriculo">
    <app-curriculo></app-curriculo>
  </div>

</div>