.container-tabSobre {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: .5vw;
  column-gap: .4vw;
  row-gap: 1vw;
}

.content-tab {
  flex: 1 55vw;
  min-width:474px;
}
.content-pills{
  display: none;
}


h6 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(17px, 1.4vw, 1.5vw);
}

h5,
p {
  color: white;
  font-family: 'Poppins', sans-serif;
}
h5{
  font-size: clamp(17px, 1.4vw, 1.5vw);
}
p{
  font-size: clamp(14px, 1.3vw, 1.3vw);
  margin:0;
}
.conteudo {
  background-color: #1c1c1c;
  padding: 1em;
  border-bottom-right-radius: 40px;
  height: 35vh;
}

.curriculo {
  flex: 1 40vw;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42.75vh;
  border-radius: 17px;
}